bin
lib
include
*.pyc
*.pyo
.project
.pydevproject
site-packages
.settings
.sass-cache
*.datastore
.DS_Store
*.mo
*.pot
.coverage
htmlcov
nosetests.xml
*#
.#*
TAGS
*~
hybrid.tar.gz
www/static/client
boot.*.nl_NL.html
.emacs.desktop
.emacs.desktop.lock
__version__.*.md5
__versionjson__.*.md5
boot.*.en_US.html
ctags
.grepcache*
lint.txt
*.so
gc